<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iclean.pt.sbgl.dao.MapsBeanMapper" >
  <resultMap id="BaseResultMap" type="com.iclean.pt.sbgl.bean.MapsBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="device_id" property="deviceId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, name, info, device_id, update_time
  </sql>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_maps
    <where>
      <if test="name !='null'">
        device_id = #{deviceId,jdbcType=INTEGER} and name = #{name,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_maps
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByIdAndDeviceId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_maps
    where id = #{id,jdbcType=INTEGER} and device_id = #{deviceId,jdbcType=INTEGER}
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_maps
    where name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="selectByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_maps where 1=1
     <if test="count==0">
       and device_id=#{deviceId,jdbcType=INTEGER}
     </if>
    <if test="count!=0">
      and device_id=#{deviceId,jdbcType=INTEGER} LIMIT #{},#{}
    </if>
  </select>


  <select id="selectMapsByUserId" resultType="java.util.Map" >

   select
    r.id as map_id,r.device_id,r.name as map_name,r.uuid,t.name as  device_name
    from (select
    *
    from tb_maps where device_id in (select device_id from tb_customer_device where customer_id in(select customer_id from tb_user where id=#{userId}))) r join
     tb_device_info t on r.device_id=t.id
     </select>

  <select id="selectMapsByParams" resultType="java.util.Map" >

   select
    r.id as map_id,r.device_id,r.name as map_name,r.uuid,t.name as  device_name
    from (select
    *
    from tb_maps where device_id in (select device_id from tb_customer_device where customer_id in(select customer_id from tb_user where id=${userId}))) r join
     tb_device_info t on r.device_id=t.id  ${mapsParams}
     </select>

  <select id="selectMaps" resultType="java.util.Map" >

     select
    r.id as map_id,r.device_id,r.name as map_name,r.uuid,t.name as  device_name
    from (select
    *
    from tb_maps where device_id in (select device_id from tb_customer_device where customer_id in(select id from tb_customer))) r join
     tb_device_info t on r.device_id=t.id
   </select>


  <select id="selectMapsBySelective" resultType="java.util.Map" >

     select
    r.id as map_id,r.device_id,r.name as map_name,r.uuid,t.name as  device_name
    from (select
    *
    from tb_maps where device_id in (select device_id from tb_customer_device where customer_id in(select id from tb_customer))) r join
     tb_device_info t on r.device_id=t.id   ${mapsParams}
   </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_maps
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iclean.pt.sbgl.bean.MapsBean" >
    insert into tb_maps (id, uuid, name, 
      info, device_id, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR}, #{deviceId,jdbcType=INTEGER}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iclean.pt.sbgl.bean.MapsBean" >
    insert into tb_maps
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iclean.pt.sbgl.bean.MapsBean" >
    update tb_maps
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iclean.pt.sbgl.bean.MapsBean" >
    update tb_maps
    set uuid = #{uuid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>